{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 2% in DE",
            "safari>=9",
            "ie>=11"
          ]
        },
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["import", {
      "libraryName": "auto-textarea",
      "libraryDirectory": "",
    }]
  ],
  "comments": false
}

