{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["import", {
      "libraryName": "auto-textarea",
      "libraryDirectory": "",
    }]
  ],
  "comments": false
}

